.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}


h3 {color: #ED1951; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #8482be;
    color: white;
}

.nav > li.active > a {
    background-color: #615f8b;
}

.nav > li > a:hover {
    background-color: #8482be;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #615f8b;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #8482be;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #615f8b;
    border-color: #8482be;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #8482be;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #8482be;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #8482be !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #615f8b;
    border-color: #615f8b;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #615f8b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #8482be;
    border-color: #615f8b;
}

.printTitle {
    color: #8482be !important;
}

body.print h1 {color: #8482be !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}


table {
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    text-align: left;
    background: rgb(130,200,215);
    color: rgb(0,80,105);
    font-size: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #079;
}

table td td:nth-child(1){
    width: 800px;
    padding: 10px;
    word-wrap: break-word;
}

.row-odd { background-color: #eeeeee; }
.row-odd + tr.description {
    background-color: #eeeeee;
}

.row-even { background-color: #ffffff; }
.row-even + tr.description {
    background-color: #ffffff;
}

tr.description > td {
    padding-top: 0px;
}
.code, code {
    font-family: Monaco, monospace;
}
.description {
    font-size: 14px;
    width: 50%;
}
.parameter-type {
    font-family: Monaco, monospace;
}
.type-name {
    font-family: Monaco, monospace;
    font-weight: bold;
}
.method-name {
    font-weight: bold;
}
.class-name {
    font-weight: bold;
}
.identifier-name {
    font-family: Monaco, monospace;
    font-weight: bold;
}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #8482be;
}


li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.highlighter-rouge {
    color: #990000;

}

#example-1
{
    overflow: visible;
}